<div th:fragment="content">

    <div class="container mt-5">

        <div class="row justify-content-center">

            <div class="card shadow rounded-3 col-md-6 ">

                <div class="card-body">

                    <h2 class="text-warning text-center mx-5 my-4">Registrar Nuevo Usuario</h2>

                    <form th:action="@{/admin/usuarios/nuevo}" method="post" th:object="${usuario}">
                        <input type="text" name="fakeuser" style="display:none" autocomplete="off">
                        <input type="password" name="fakepass" style="display:none" autocomplete="off">

                        <div class="mb-3">
                            <label class="form-label">Nombre de usuario</label>
                            <input class="form-control" type="text" th:field="*{nombre}" name="nuevo-nombre" autocomplete="new-user"  required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="email" th:field="*{email}" name="nuevo-email" autocomplete="off" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input class="form-control" type="password" th:field="*{password}" name="nuevo-password" autocomplete="new-password" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Rol</label>
                            <select class="form-select" th:field="*{rol}">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-success px-4" type="submit">Guardar</button>
                            <a class="btn btn-secondary px-4" th:href="@{/admin/usuarios}">Cancelar</a>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>

</div>